<div class="head-icon">
    <mat-icon color="primary" class="mat-ico">autorenew</mat-icon>
    <h1 mat-dialog-title class="title">Update Downloaded</h1>
  </div>
  <mat-dialog-content>
    <div>
      <mat-label>Update download successfully, Click "Install" to install. This will quit app and install app.</mat-label>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button [mat-dialog-close]="true"><mat-icon>close</mat-icon> Latter</button>
    <button mat-raised-button color="primary" (click)="onDoupdate()"><mat-icon>autorenew</mat-icon> Install</button>
  </mat-dialog-actions>