# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/app-builds
/release
main.js
constants.js
appConfigSchema.js
src/**/*.js
!src/karma.conf.js
*.js.map

database-backup.js
database-backup.js.map
fullscreenHander.js
fullscreenHander.js.map
databasehandler.js
databasehandler.js.map
license-handler.js
license-handler.js.map
pdf-generator-dynamic.js
pdf-generator-dynamic.js.map
pdf-generator-staic.js
pdf-generator-staic.js.map
static-items-database.js
static-items-database.js.map
staticItemsDBHandler.js
staticItemsDBHandler.js.map
updator.js
updator.js.map

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
package-lock.json

# e2e
/e2e/*.js
!/e2e/protractor.conf.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
