*{
    -webkit-user-select: none;
}

.head-icon{
    text-align: center;
    width: 100%;
    height: auto;
}

.mat-ico{
    font-size: 50px;
    width: 100%;
}

mat-label{
    font-family: Arial, Helvetica, sans-serif;
}