.main-wrapper{
    padding: 1%;
    height: calc(100vh - 85px);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.table-content{
  height: calc(100vh - 200px);
  max-height: calc(100vh - 200px);
  overflow: auto;
}

mat-card{
  height: 98%;
}

table{
    width: 100%;
}

.filter-field{
    width: 100%;
}

.delete-record-btn{
    margin-left: 30px;
}

.main-card-headding{
  display: flex;
  align-items: center;
}
