.main-wrapper{
  padding: 1%;
  height: calc(100vh - 60px - 1%);
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

mat-label{
    font-family: Arial, Helvetica, sans-serif;
}

.settings-wrapper{
    height: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.setting-sec{
    overflow: hidden;
    width: 40%;
    height: calc(100vh - 230px);
    // padding: 1%;
    // border: 1px solid rgb(105, 105, 105);
    // border-radius: 5px;
}
