<div class="main-wrapper">
    <mat-form-field class="wide-input-field">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Item Name">
    </mat-form-field>

    <div class="mat-elevation-z8 table-content">

            <table mat-table [dataSource]="dataSource" matSort #table>
        
                <!-- ID Column -->
                <ng-container matColumnDef="itemName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Item name </th>
                    <td mat-cell *matCellDef="let row"> {{row.itemName}} </td>
                </ng-container>
        
                <!-- Progress Column -->
                <ng-container matColumnDef="itemPrice">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                    <td mat-cell *matCellDef="let row"> {{row.itemPrice}}</td>
                </ng-container>
        
                <!-- Name Column -->
                <ng-container matColumnDef="itemDiscount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount </th>
                    <td mat-cell *matCellDef="let row"> {{row.itemDiscount}} </td>
                </ng-container>
        
                <!-- Color Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-mini-fab class="action-btn-2" (click)="onEditItem(row._id)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" class="action-btn-2" (click)="onDeleteItem(row._id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
        
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>

</div>

