.app-toolbar{
    -webkit-app-region: drag;
    height: 40px;
}

.hide-top-bar{
  display: none;
}

.title-label{
  font-family: Arial, Helvetica, sans-serif;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
  }

.toolbar-button{
    -webkit-app-region: no-drag;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }

  .side-nav{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  mat-nav-list{
    margin: 10%;
  }

  .sidenav-button{
    width: 100%;
  }

  .fill-space{
    justify-content: flex-end;
  }

  .floating-action-button{
    position: absolute;
    bottom: 2%;
    left: 1%;
    z-index: 100;
    opacity: 0.2;
  }

  .floating-action-button:hover{
    transition-duration: 0.5s;
    opacity: 1;
  }

  mat-sidenav-content{
    overflow: hidden;
  }

  .title-space{
    width: 0.5%;
  }

.license-status{
  display: flex;
  align-items: flex-end;
  height: calc(40% - 80px);
  padding: 10%;
}

.license-days-info{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  opacity: 0.5;
}

.license-days-info:hover{
  transition-duration: 0.5s;
  font-weight: bolder;
  opacity: 1;
}
