*{
    -webkit-user-select: none;
}

mat-form-field{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

mat-divider{
    margin-bottom: 10px;
}

mat-label{
    font-family: Arial, Helvetica, sans-serif;
}

.main-wrapper{
    padding: 1%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}

.headding-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 150%;
}

.oops-msg{
    text-align: center;
}

.message-label{
    color: lightcoral;
}

.copy-btn-div{
    text-align: center;
}

.sub-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.status-msg-container{
    margin-bottom: 20px;
}

.sub-container{
    margin-bottom: 20px;
}

.renew-license-btn{
    text-align: center;
}

.renew-licinse-headding{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 110%;
    margin-bottom: 10px;
    text-align: center;
}