*{
    font-family: Arial, Helvetica, sans-serif;
}

.main-wrapper{

}

table{
    width: 100%;
}

.table-content{
    max-height: 45vh;
    overflow: auto;
}

.wide-input-field{
    width: 100%;
}

.supporting-details-sec{
    display: flex;
    justify-content: space-between;
}

.client-details-sec{
    display: flex;
    justify-content: space-between;
}

mat-divider{
    margin: 10px 0;
}