mat-label{
  font-family: Arial, Helvetica, sans-serif;
}

.main-wrapper{
  overflow: hidden;
  display: flex;
  padding: 1%;
  height: calc(100vh - 70px);
  width: auto;
}

.items-detail-section{
  height: 100%;
  // background-color: lightcoral;
  display: flex;
  justify-content: space-between;
  flex-basis: 75%;
  width: auto;
}

.bill-preview{
  height: 100%;
  // flex-basis: 25%;
  width: 100%;
  // background-color: lightgoldenrodyellow;
}

.display-items{
  // background-color: lightgreen;
  // flex-basis: 20%;
  width: 20%;
  overflow: auto;
  padding-right: 15px;
  margin-right: 15px;
}

.item-selected-container{
  // flex-basis: 75%;
  width: 98%;
  margin-right: 2.5%;
}

.item-display-img{
  overflow: hidden;
  max-height: 120px;
  border-radius: 5px;
}

.item-img{
  width: 100%;
  height: auto;
}

mat-divider{
  margin: 10px 0;
}

.item-title{
  margin-top: 5px;
  text-align: center;
}

.item-price{
  margin-top: 5px;
  text-align: center;
}

.item-title>mat-label{
  text-align: center;
}

.item-img:hover{
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.hidden-cat-field{
  display: none;
}

.section-name-cont>p{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.half-width-fields{
  width: 48%;
  padding: 1%;
}

.selected-items-loop{
  overflow: auto;
  // background-color: lightcoral;
  height: 65vh;
}

.small-width-fields{
  width: 38%;
  padding: 1%;
}

.xsmall-width-fields{
  width: 15%;
  padding: 1%;
}

mat-divider{
  margin-top: 3px;
  margin-bottom: 10px;
}

.items-list>p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.action-btns{
  width: 100%;
  margin-top: 10px;
}

.recipt-preview-area{
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}

.save-and-print-btn{
  margin-left: 5px;
  width: 59%;
}

.save-btn{
  width: 38%;
}

.reset-button{
  position: absolute;
  top: 1%;
  right: 29%;
}

