<div class="main-wrapper">

    <div class="cat-fiels">
      <div>
      <div class="heading">
        <p>Create new</p>
      </div>
      <div>
        <form>
          <mat-form-field class="form-field">
            <mat-label>Unit Name</mat-label>
            <input ngModel name="unitName" #unitName="ngModel" matInput placeholder="Kilo, Meter etc..." required>
            <mat-icon matSuffix>lens</mat-icon>
          </mat-form-field>
          <button mat-raised-button (click)="setUnit(unitName.value); unitName.reset();"
            [disabled]="!unitName.valid">Save</button>
        </form>
      </div>
    </div>
    </div>
  
  
  
  
    <div class="table-section">
      <div>
      <mat-form-field class="wide-input-field">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
  
      <div class="mat-elevation-z8 table-content">
        <table mat-table [dataSource]="dataSource" matSort>
  
          <!-- ID Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
  
          <!-- Progress Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row">
              <button mat-mini-fab color="warn" (click)="onDeleteUnit(row.name)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    </div>
  </div>