.printer-settings-section {
  display: flex;
  flex-direction: column;
}

mat-divider {
  margin: 10px auto;
}

.short-inp {
  width: 150px;
  margin-bottom: -5px;
}

.print-iter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.print-logo {
}

.logo-selector-sec {
  margin-top: 25px;
}

.logo-preview-image {
  width: auto;
  max-width: 99%;
  height: 250px;
  // max-height: 300%;
}

mat-label {
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.pmt {
  margin-top: 10px;
}

.wrong-file-error {
  margin-left: 10px;
  color: rgb(255, 77, 77);
}

.choose-logo-btn {
  margin-top: 10px;
  margin-left: 10px;
}

.main-icon-headding {
  display: flex;
  align-items: center;
}
