<div class="main-wrapper">
  <!-- CREATE ITEMS SECTION -->
  <div class="form-components-wrapper">
    <form [formGroup]="itemForm">
    
      <mat-form-field appearance="standard" class="item-name">
        <mat-label>Item Name</mat-label>
        <input matInput placeholder="Zinger Burger etc ..." formControlName="itemName">
        <mat-icon matSuffix>local_grocery_store</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="standard" class="half-width-fields">
          <mat-label>Price</mat-label>
          <input type="number" matInput placeholder="120" formControlName="itemPrice">
          <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>
      
      <mat-form-field appearance="standard" class="half-width-fields">
          <mat-label>Discount</mat-label>
          <input type="number" matInput placeholder="20" formControlName="itemDiscount">
          <mat-icon matSuffix>money_off</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="standard" class="half-width-fields">
          <mat-label>Categories</mat-label>
          <mat-select placeholder="Category" formControlName="itemCategory">
            <mat-option *ngFor="let cat of categories" value={{cat}}>{{cat}}</mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field appearance="standard" class="half-width-fields">
          <mat-label>Units</mat-label>
          <mat-select placeholder="Unit of Measure" formControlName="itemUnit">
            <mat-option *ngFor="let unit of units" value={{unit}}>{{unit}}</mat-option>
          </mat-select>
      </mat-form-field>
      
      <div class="final-section">
        <div class="img-container">
          <mat-label color="primary" class="recomended-color">Recomended Size 300px x 220px</mat-label>
          <img [src]="itemImage" class="item-img">
        </div>
        <div class="action-btns">
          <button mat-raised-button (click)="fileInput.click()"><mat-icon>add_photo_alternate</mat-icon> Select Image</button>
          <input hidden (change)="onImageSelected($event)" #fileInput type="file" id="file">
          <button mat-raised-button (click)="onResetImage()"><mat-icon>replay</mat-icon> Remove Image</button>
          <button mat-raised-button (click)="onItemReset()"><mat-icon>refresh</mat-icon> Reset Item</button>
          <button mat-raised-button color="primary" [disabled]="!itemForm.valid" (click)="onItemSave()"><mat-icon>save</mat-icon> Save Item</button>
        </div>
      </div>

    </form>
  </div>

  <!-- DISPLAY ITEMS SECTION -->
  <div class="items-list">
      <app-available-items></app-available-items>
  </div>
</div>
